<div class="card" *ngIf="product">
  <div class="card-header">Product Detail: {{ product.productName }}</div>
  <div class="card-body">
    <div class="inline-div">
      <div class="titles">
        <div>
          <span>Name:</span>
        </div>
        <div>
          <span>Code:</span>
        </div>
        <div>
          <span>Description:</span>
        </div>
        <div>
          <span>Availability:</span>
        </div>
        <div>
          <span>Price:</span>
        </div>
        <div>
          <span>5 Star Rating:</span>
        </div>
      </div>
      <div>
        <div>
          <span>{{ product.productName }}</span>
        </div>
        <div>
          <span>{{ product.productCode }}</span>
        </div>
        <div>
          <span>{{ product.description }}</span>
        </div>
        <div>
          <span>{{ product.releaseDate }}</span>
        </div>
        <div>
          <span>{{ product.price }}</span>
        </div>
        <div>
          <span>{{ product.starRating }}</span>
        </div>
      </div>
      <div class="image-container">
        <img class="image-box" [src]="product.imageUrl" />
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-outline-secondary"
      (click)="onBack()"
      style="width: 80px;"
    >
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>
